.pokeCard__navigation {
    text-decoration: none;
    color: #303943;
    opacity: 0.4;
    
    &:visited {
        text-decoration: none;
        color: #000000;
    }
    &:focus {
        color: #303943;
        font-weight: 900;
        opacity: none;
        text-decoration: underline 2px solid #6C79DB;
        text-underline-offset: 28px;
    }
}

.pokeCard__line {
    border: 1px solid #F4F5F4;
    margin: 0 40px 10px;
}