@import url('http://fonts.cdnfonts.com/css/circular-std');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circular Std', sans-serif;
}

.pokedexPage {
  background-image: url(/public/assets/images/pokeball.svg);
  background-position: right top;
  background-repeat: no-repeat;

  &__container {
    margin: 0 auto;
  }
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 70px; 

  &__title {
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
    color: #303943;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .pokedex {
    &__title {
      font-size: 45px;
      text-align: center;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 26px;
    }
  }
}