@import url('http://fonts.cdnfonts.com/css/circular-std');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circular Std', sans-serif;
}

.pokedexPage {
  background-image: url(/public/assets/images/pokeball.svg);
  background-position: right top;
  background-repeat: no-repeat;

  &__container {
    margin: 0 auto;
    width: 85%;
  }
}

.pokedex {
  &__title {
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
    color: #303943;
    margin-bottom: 40px;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}