@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);

* {
    margin: 0;
    padding: 0;
    font-family: 'Circular Std', sans-serif;
}

$text-color: #ffffff;

.pokeCard {
    width: 100%;
    background-image: url('/public/assets/images/Element.png');
    background-repeat: no-repeat;
    position: absolute;

    &--normal {
        background-color: #A8A878;
    }

    &--water {
        background-color: #77BDFE;
    }

    &--ice {
        background-color: #86D1F3,
    }

    &--grass {
        background-color: #48D0B0;
    }

    &--fire {
        background-color: #FB6C6C;
    }

    &--dragon {
        background-color: #7038F8;
    }

    &--electric {
        background-color: #FBCD66;
    }

    &--bug {
        background-color: #A8B820;
    }

    &--fairy {
        background-color: #EE99AC;
    }

    &--ground {
        background-color: #E0C068;
    }

    &--rock {
        background-color: #B8A038;
    }

    &--steel {
        background-color: #42BD94;
    }

    &--poison {
        background-color: #A040A0;
    }

    &--ghost {
        background-color: #705898;
    }

    &--dark {
        background-color: #5A5979;
    }

    &--flying {
        background-color: #4A677D;
    }

    &--fighting {
        background-color: #994025;
    }

    &--psychic {
        background-color: #F85888;
    }

    &__objects {
        display: flex;
        justify-content: space-between;
        padding: 26px;
    }

    &__button {
        border: none;
        background: none;
    }

    &__arrowImage,
    &__heartImage {
        padding: inherit
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__name {
        width: 253px;
        font-size: 36px;
        line-height: 46px;
        color: $text-color;
        font-weight: 600;
    }

    &__id {
        width: 59px;
        font-size: 18px;
        line-height: 23px;
        color: $text-color;
        font-weight: 600;
    }

    &__units {
        display: flex;
        justify-content: space-evenly;
        margin-top: 9px;
    }

    &__element {
        background: rgba(255, 255, 255, 0.5);
        background-blend-mode: soft-light;
        box-shadow: 0px 8px 35px rgba(59, 141, 122, 0.12);
        border-radius: 38px;

        font-size: 12px;
        line-height: 28px;
        text-align: center;
        color: $text-color;

        width: 70px;
        height: 28px;
    }

    &__type {
        width: 109px;
        height: 18px;
        font-size: 14px;
        line-height: 28px;
        color: $text-color;
    }

    &__images {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    &__pokeballBackground {
        position: absolute;
        margin-top: 10px;
    }

    &__pokemonImage {
        width: 234px;
        margin-bottom: -50px;
        position: relative;
    }

    &__menu {
        background-color: $text-color;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
        height: 100vh;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        padding: 46px 26px 19px;
    }

    &__item {
        text-decoration: none;
        list-style: none;

        font-size: 14px;
        line-height: 28px;
        color: #303943;
        opacity: 0.4;
        font-weight: 500;

        &:hover {
            font-weight: 600;
            color: #000000;
            transition-timing-function: ease-in-out;
        }
    }
}

@media screen and (min-width: 768px) {
    .pokeCard__pokemonImage {
        width: 320px;
        margin-bottom: -50px;
        position: relative;
    }
}