@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);
* {
  margin: 0;
  padding: 0;
  font-family: 'Circular Std', sans-serif;
}

.pokeCard__aboutText {
  padding: 0 36px;
  font-size: 14px;
  line-height: 24px;
  color: #303943;
}

.pokeCard__aboutCharacteristics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin: 28px 28px;
  padding: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.pokeCard__aboutHeight {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  font-size: 14px;
  line-height: 28px;
  color: #303943;
  opacity: 0.4;
  text-align: left;
}

.pokeCard__aboutHeightData {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  font-size: 14px;
  line-height: 28px;
  color: #303943;
  text-align: left;
}

.pokeCard__aboutWeight {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  font-size: 14px;
  line-height: 28px;
  color: #303943;
  opacity: 0.4;
  text-align: left;
}

.pokeCard__aboutWeightData {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  font-size: 14px;
  line-height: 28px;
  color: #303943;
  text-align: left;
}

.pokeCard__aboutBreeding {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 12px;
  margin: 28px 28px;
}

.pokeCard__aboutBreedingTitle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #303943;
}

.pokeCard__aboutGender {
  font-size: 14px;
  line-height: 28px;
  color: #303943;
  opacity: 0.4;
  text-align: left;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}

.pokeCard__aboutMale {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.pokeCard__aboutFemale {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
}

.pokeCard__aboutEggGroups {
  font-size: 14px;
  line-height: 28px;
  color: #303943;
  opacity: 0.4;
  text-align: left;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

.pokeCard__aboutGroup {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

.pokeCard__aboutEggCycles {
  font-size: 14px;
  line-height: 28px;
  color: #303943;
  opacity: 0.4;
  text-align: left;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/1/5/2;
}

.pokeCard__aboutCycle {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4/2/5/3;
}

@media screen and (min-width: 768px) {
  .pokeCard__aboutText {
    padding: 0 50px;
    font-size: 20px;
    line-height: 34px;
  }
  .pokeCard__aboutBreedingTitle {
    font-size: 20px;
  }
  .pokeCard__aboutGender, .pokeCard__aboutEggGroups, .pokeCard__aboutEggCycles {
    font-size: 18px;
  }
  .pokeCard__aboutCharacteristics, .pokeCard__aboutBreeding {
    margin: 50px;
  }
}
/*# sourceMappingURL=style.css.map */