.popup {
  background-color: #6C79DB;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 26px;
  bottom: 35px;
}